#google-calendar-tabbutton,
#google-calendar-menuitem {
  list-style-image: url('chrome://opengooglecalendar/skin/favicon.ico');
}
#google-calendar-toolbarbutton {
  list-style-image: url('chrome://opengooglecalendar/skin/calendar-icon.png');
}
#google-calendar-toolbarbutton:active {
  opacity: 0.9;
}
#google-calendar-tabbutton > label {
  display: none;
}
/* XXX nice attribute selector label=BIG HACK! */
tab[type="contentTab"][label="Google Calendar"] .tab-icon-image {
  list-style-image: url('chrome://opengooglecalendar/skin/favicon.ico');
}
